
/* BACKGROUND STYLING */

body {
    background-color: #252525;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* GRID SECTIONS */

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    "warnings warnings warnings warnings"
    "repair ai temp .";
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
    width: 80%;
    position: absolute;
    top: 100px;
    left: 60px;
}

/* TITLE */

#warnings {
    width: 86.875rem;
    height: 26.25rem;
    grid-area: warnings;
}

#warnings-guide {
    font-family: 'Roboto', sans-serif;
}

#warnings button, #backButton {
    position: absolute;
    background-color: #9E4A9F;
    border-radius: 6.25rem;
    border: none;
    color: #fff;
    transition: filter 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#warnings button {
    top: 360px;
    left: 1150px;
    padding: 0.625rem 1.5rem;
}

#backButton {
    top: 20px;
    left: 20px;
    padding: 0.25rem 1rem;
}

#warnings button:hover, #backButton:hover {
    background-color: #7D3A7D;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#warning-data {
    display: flex;
}

.centred {
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
    color: #d1d1d1;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 20px;
    left: 100px;
}

h2 {
    font-weight: 700;
    position: absolute;
    top: 50px;
    left: 160px;
    color: #d1d1d1;
}

/* UTILITY SECTIONS */

.utility {
    width: 405px;
    height: 500px;
    border-radius: 60px;
    background-image: url("images/utility_rect.png");
}

#repair {
    grid-area: repair;
    position: relative;
}

#ai {
    grid-area: ai;
    position: relative;
}

#temp {
    grid-area: temp;
    position: relative;
}

/* REPAIR PANEL */

#repair-search {
    position: absolute;
    width: 196px;
    height: 46px;
    top: 140px;
    left: 180px;
    border-radius: 60px;
    background-image: url("images/repair_search_rect.png");
    z-index: 2;
}

input {
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
    vertical-align: middle;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #d1d1d1;
}

.image-panel {
    width: 355px;
    height: 448px;
}

#repair-panel {
    position: absolute;
    width: 290px;
    height: 255px;
    top: 180px;
    left: 50px;
    border-radius: 30px;    
    background-image: url("images/repair_rect.svg");
}

#repair img {
    position: absolute;
    top: 10px;
    left: 8px;
}

#repair h3 {
    position: absolute;
    color: #d1d1d1;
    top: 50px;
    left: 65px;
}

.custom-bullets {
    position: absolute;
    top: 80px;
    left: 60px;
    list-style-type: none;
    padding-left: 15px;
    color: #d1d1d1;
}

.custom-bullets li::before {
    content: "•";
    color: #9E4A9F;
    font-size: 30px;
    margin-right: 10px;
}

/* AI PANEL */

#ai-search {
    position: absolute;
    width: 339px;
    height: 70px;
    top: 400px;
    left: 55px;
    border-radius: 60px;    
    background-image: url("images/ai_search_rect.png");
}

#ai img {
    position: absolute;
    top: 25px;
    left: 15px;
}

#ai input {
    position: absolute;
    top: 12px;
    left: 30px;
    width: 80%;
}

.text-panel {
    height: 200px;
    margin: 10px;
    padding: 10px;
    color: #d1d1d1;
}

span {
    color: #9E4A9F;
}

/* TEMPERATURE ICON */

#temp-icon {
    position: absolute;
    width: 300px;
    height: 500px;
    top: 550px;
    left: 1280px;
    background-image: url("images/temp_icon.png");
    background-repeat: no-repeat;
}

/* TODAY'S TEMPERATURE PANEL */

#temp h2 {
    left: 110px;
}

#temp h1 {
    top: 60px;
    left: 80px;
    font-size: 7rem;
    color: #9E4A9F;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#temp p {
    top: 150px;
    left: 80px;
    font-size: 1.5rem;
    color: #d1d1d1;
}

/* RESPONSIVE STYLING */

@media (max-width: 1200px) {
    #content {
        transform: scale(0.7);
        transform-origin: top left;
    }
}

@media (max-width: 1080px) {
    #content {
        transform: scale(0.5);
        transform-origin: top left;
    }
}

@media (max-width: 768px) {
    #content {
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-areas:
        "warnings"
        "repair"
        "ai"
        "temp";
        transform: scale(0.8);
    }

    #warnings {
        background-image: url("images/utility_rect.png");
        width: 450px;
        height: 500px;
    }

    #warnings img {
        display: none;
    }

    #warnings .image-panel, #warnings .text-panel {
        transform: scale(0.8);
    }

    .utility {
        margin: 0 auto;
    }

    h1 {
        font-size: 3rem;
        top: 40px;
        left: 120px;
    }

    #temp-icon {
        position: absolute;
        width: 300px;
        height: 500px;
        top: 2000px;
        left: 120px;
        background-image: url("images/temp_icon.png");
        background-repeat: no-repeat;
    }
}



/*first page styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), 
                linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), 
                #252525;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  }
  /*layout for page*/
  .container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                        "mode search ."
                        "navigation-tab current-weather extra-weather"
                        "navigation-tab daily-weather hourly-weather ";
   
    height: 100vh;
    gap: 0.5rem;
    
  
  }
  
  
  #search{
    grid-area: search;
    width: 31.1875rem;
    height: 3.75rem;
    border-radius: 2.5rem;
    background-color: #323232;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
    color: rgba(209, 209, 209, 0.60);
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 0 1 rem;
    margin: 3rem;
    
    
  }
  
  #search input {
    flex: 1;
    color: white;
    
    height: 2rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    background: transparent;
  }
  
  #search button{
    width: 2rem; 
    height: 2rem;
    border: none;
    cursor: pointer;
    background: transparent;
    margin-right: 0.5rem;
    
  }
  #search button hover{
    transform: scale(1.1);
    background: transparent;
    filter: invert(70%);
  }
  /*layout for navigation bar*/
  .navigation-tab{
    display: grid;
    grid-area: navigation-tab;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 'home'
                          'weather'
                          'route'
                          'analysis'
                          'settings'
                          'calendar'
                          ;
                        
    width: 5.25rem;
    height: 34.5625rem;
    flex-shrink: 0;
    background-color: #333;
    border-radius: 3rem;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    margin-left: 2rem;
    margin-top: 0rem;
    
    gap: 1rem;
    place-items: center;
  }
  #route{
    grid-area: route;
    width: 2.5rem;
    height: 2.2rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    fill: #D9D9D9;
  }
  .navigation-tab p{
    color: #D9D9D9;
    font-size: 0.9rem;
  }
  .navigation-tab button{
    border: none;
    background: transparent;
    cursor: pointer;
    
  }
  .navigation-tab a{
    text-decoration-line: none;
  }
  #analysis{
    grid-area: analysis;
    width: 2.6875rem;
    height: 2.6875rem;
    flex-shrink: 0;
    
  }
  #settings{
    grid-area: settings;
    width: 2.875rem;
    height: 2.75rem;
    flex-shrink: 0;
    
  
  }
  #calendar{
    grid-area: calendar;
    width: 2.8125rem;
    height: 2.8125rem;
    flex-shrink: 0;
    
    
  }
  #home{
    margin-top: 1rem;
    grid-area: home;
    width: 2.45575rem;
    height: 2.18881rem;
    flex-shrink: 0;
    
    
  }
  
  #weather{
    
    grid-area: weather;
    width: 2.45575rem;
    height: 2.18881rem;
    flex-shrink: 0;
    
  }
  .navigation-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
  
  /*dark/light mode switch*/
  #mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
    grid-area: mode;
    width: 4.8125rem;
    height: 1.8125rem;
    flex-shrink: 0;
    fill: #D9D9D9;
  }
  #mode p{
    color: #FFF;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.1rem;
    margin-left: 1rem;
  }
  .switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    position: relative;
    display: inline-block;
    width: 3.1275rem;  
    height: 4rem;
    padding: 0.05rem;
    margin: 0.2rem
  }
  .switch-container input { 
    opacity: 0;
    width: 0;
    height: 1rem;
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 4.8125rem;
    height: 1.8125rem;
    background-color: #ccc;
    border-radius: 2.125rem;
    transition: 0.4s;
    padding: 1rem;
  }
  .slider:before {
    content: "";
    position: absolute;
    width: 1.5rem;  
    height: 1.5rem; 
    left: 0.1875rem;
    margin: 0.1rem;
    bottom: 0.1875rem;
    background-color: #333333;
    border-radius: 50%;
    transition: 0.4s;
  }
   input:checked + .slider {
    background-color: #dce8f2; 
  } 
  
   input:checked + .slider:before {
    transform: translateX(2.7rem); 
  }  
  
  /*displays current weather*/
  .current-weather{ 
    grid-area: current-weather;
    width: 33.8125rem;
    height: 23.78125rem;
    flex-shrink: 0;
    fill:hsla(299, 36%, 46%, 1);
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }
  
  
  /*displays the secondary feature on the first page*/
   .extra-weather{
    grid-area: extra-weather;
    margin-top: -7rem;
    margin-left: 1rem;
    padding-right: 2rem; 
    
  
  }
  
  /*style size hourly weather*/
  .hourly-weather{
    grid-area: hourly-weather;
    margin-left: 3rem;
    margin-top: -8rem;
  }
  
  /*style for daily weather*/
  .daily-weather{
    grid-area: daily-weather;
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'day1 day2 day3 day4';
    gap: 2rem;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
  
  } 
  
  #day1{
    grid-area: day1;
    
  }
  #day2{
    grid-area: day2;
   
  }
  #day3{
    grid-area: day3;
    
  }
  #day4{
    grid-area: day4;
   
  } 
  
  .daily-weather-card{
    width: 7rem;
    height: 12.25rem;
    flex-shrink: 0;
    position: relative;
    margin: 0.5rem;
    background-color: #333333;
    border-radius: 3.75rem;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .daily-weather-card:nth-child(1){
    background-color: hsla(299, 36%, 46%, 1);
  }
  
  
  
  .daily-weather-icon{
    margin-bottom: 2rem;
    width: 3rem;
    height: 3rem;
  
  }
  
  
  
   .temp {
    color: #FFF;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    
  }
  .date{
    color: #FFF;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 1.5rem;
  
  }
  .daily-weather-description{
    font-size: 0.9rem;
    text-align: center;
    color: #ffffff; 
    margin-top: -2rem;
  }
  
  
  
  
   
  
   
  
  
  
  